@font-face {
    font-family: 'GilroySemiBold';
    src: url('/wp-content/themes/shapely/assets/fonts/GilroySemiBold.eot');
    src: url('/wp-content/themes/shapely/assets/fonts/GilroySemiBold.eot') format('embedded-opentype'),
         url('/wp-content/themes/shapely/assets/fonts/GilroySemiBold.woff2') format('woff2'),
         url('/wp-content/themes/shapely/assets/fonts/GilroySemiBold.woff') format('woff'),
         url('/wp-content/themes/shapely/assets/fonts/GilroySemiBold.ttf') format('truetype'),
         url('/wp-content/themes/shapely/assets/fonts/GilroySemiBold.svg#GilroySemiBold') format('svg');
}
