<div class="container">
  <div class="flexslider-home-our-projects">
        <ul class="slides">
          <li>
            <div class="row">
              <div class="col-md-4">
                <img class="img_modal" loading="lazy" src="/wp-content/uploads/2022/04/BF-sheet_page-new.jpg" alt="">
              </div>
              <div class="col-md-8 ">
                <div class="">
                  <h3>Проєкт "Нагальна допомога для відбудови"!</h3>
                  <div class="mb32">
                    <p>Опис проєкту: </p>
                    <p>Надання фахової допомоги у складанні дефектних актів для підтвердження розмірів завданих збитків та узагальнених кошторисних розрахунків вартості проведення аварійно-відбудовних та інших невідкладних робіт з капітального ремонту.</p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-4">
                <img class="img_modal"  loading="lazy" src="/wp-content/uploads/2022/05/demirska.jpg" alt="">
              </div>
              <div class="col-md-8 ">
                <div class="">
                  <h3>Проєкт "Технічне обстеження будівель Димера"</h3>
                  <div class="mb32">
                    <p>Опис проєкту: </p>
                    <p>Надання фахової допомоги у проведенні обстежень будівель та складання відповідної документації щодо пошкоджень будівель на території Димерської ТГ.</p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-4">
                <img class="img_modal"  loading="lazy" src="/wp-content/uploads/2022/05/makarivska.jpg" alt="">
              </div>
              <div class="col-md-8 ">
                <div class="">
                  <h3>Проєкт "Експертна допомога для Макарівської селищної ради"</h3>
                  <div class="mb32">
                    <p>Опис проєкту: </p>
                    <p>Надання фахової допомоги у проведенні обстежень будівель та складання відповідної документації щодо пошкоджень будівель на території Димерської ТГ.</p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
</div>